    <hr />
    <footer>
      <p><a href="http://www.glowface.net/" target="_blank">GlowFace</a> 2013</p>
    </footer>
  </div><!-- id container end -->
</body>
<script src="/javascripts/jquery-2.0.2.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>